---
import PucmmTV from '@components/_client/PucmmTV';
---

<section class="podcasts-area body-color pt-100 pb-70">
  <div class="container">
    <div class="section-title">
      <h2>Ultimas Novedades</h2>
      <p>
        Bienvenido a la sección de Podcasts de PUCMM, donde el conocimiento y
        las ideas cobran vida a través del poder del audio.
      </p>
    </div>

    <PucmmTV client:visible />

    <div class="more-item text-center">
      <p>
        Mira todos los videos de PUCMM.{" "}
        <a
          href="https://www.youtube.com/@PucmmTV/videos"
          target="_blank"
          rel="noopener noreferrer"
          class="read-more-btn active"
        >
          PUCMM Tv <i class="fa fa-arrow-right"></i>
        </a>
      </p>
    </div>
  </div>
</section>
