---
import { Image } from 'astro:assets';
---

<section class="container pb-100">
  <div class="single-podcasts-card rounded-card full-size-card">
    <div class="podcasts-image">
      <Image
        src="/images/estudiantes/estudiantes-2.webp"
        alt="Decanato de Estudiantes"
        height="638"
        width="1024"
      />
      <a
        class="popup-youtube play-btn"
        href="https://www.youtube.com/watch?v=WBreVC7CP9U"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa-sharp fa-solid fa-circle-play fa-2x"></i>
      </a>
    </div>
  </div>
  <!-- <iframe
    height="680px"
    width="100%"
    src="https://www.youtube.com/embed/WBreVC7CP9U?si=TT9ExAvBwcAtTTrL"
    title="Decanato de Estudiantes"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen></iframe> -->
</section>
