---
import { Image } from 'astro:assets';
import FooterItem from './footerItem/FooterItem.astro';

const footerNavigationData = [
	{
		title: 'Grupos Estudiantiles',
		links: [
			{ text: 'Grupos Estudiantiles', url: '/grupos-estudiantiles' },
			{
				text: 'Asociaciones, Clubes y Comités',
				url: '/grupos-estudiantiles/asociaciones-clubes-y-comites/csti',
			},
			{
				text: 'Calendario De Actividades',
				url: '/grupos-estudiantiles/calendario-de-actividades/csti',
			},
			{ text: 'Arte Y Cultura', url: '/arte-y-cultura/departamento' },
			{ text: 'Deportes', url: '/deportes/departamento' },
		],
	},
	{
		title: 'Identidad Católica',
		links: [
			{ text: 'Identidad Católica', url: '/identidad-catolica' },
			{ text: 'Labor Pastoral', url: '/identidad-catolica/labor-pastoral' },
			{
				text: 'Ntra. Sra. de la Anunciación',
				url: '/identidad-catolica/ntra-sra-de-la-anunciacion',
			},
		],
	},
	{
		title: 'Servicios',
		links: [
			{ text: 'Salud', url: '/servicios/salud' },
			{ text: 'Seguridad', url: '/servicios/seguridad' },
			{ text: 'Inclusión', url: '/servicios/inclusion' },
			{
				text: 'Compromiso Universitario',
				url: '/servicios/compromiso-universitario',
			},
			{
				text: 'Beneficios Estudiantiles',
				url: '/servicios/beneficios-estudiantiles',
			},
			{
				text: 'Movilidad Estudiantil',
				url: '/servicios/movilidad-estudiantil',
			},
		],
	},
];
---

<footer class="footer-area pt-90 pb-60">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="footer-logo-area">
          <a href="/">
            <Image
              src="/images/logo.webp"
              class="main-logo"
              alt="logo"
              width={1180}
              height={392}
            />
          </a>
          <p>
            PUCMM es la primera universidad privada dominicana, sin fines de
            lucro, fundada en 1962 por el Episcopado Dominicano. Ofrece
            programas de grado y postgrado.
          </p>
          <div class="contact-list">
            <ul>
              <li>
                <a href="tel:(809) 580-1962"> (809) 580-1962 </a>
              </li>
              <li>
                <a href="mailto:info@pucmm.edu.do">
                  <span
                    class="__cf_email__"
                    data-cfemail="85e4e1e8ecebc5f6e4ebf0abe0e1f0"
                  >
                    info@pucmm.edu.do
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {
        footerNavigationData.map((item, index) => (
          <FooterItem
            amountOfItems={footerNavigationData.length}
            item={item}
            index={index}
          />
        ))
      }
    </div>
  </div>
</footer>
