---
import Banner from '@components/banner/Banner.astro';
import Carousel from '@components/carousel/Carousel.astro';
import DecanatoInfo from '@components/infos/DecanatoInfo.astro';
import AsideNav from '@components/navigation/asideNav/AsideNav.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout
  title="Beneficios - Servicios Estudiantiles"
  description="Decanato de Estudiantes, todos los servicios y programas de apoyo a los estudiantes de la PUCMM."
>
  <Banner
    title="Beneficios - Servicios Estudiantiles"
    path="Servicios Estudiantiles / Beneficios"
    origin="Inicio"
    originLink="/"
  />

  <div class="news-details-area pt-5 pb-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="news-details">
            <div class="news-simple-card">
              <Carousel
                images={[
                  "/images/templates/template-1.jpg",
                  "/images/templates/template-2.jpg",
                  "/images/templates/template-3.jpg",
                  "/images/templates/template-4.jpg",
                ]}
              />

              <div class="text-center">
                <h2>Beneficios Estudiantiles</h2>
              </div>

              <h3>Beneficios</h3>
              <p>
                Los beneficios son ventajas especiales y descuentos exclusivos a
                los que los estudiantes tienen acceso por su afiliación a la
                universidad
              </p>

              <p>
                La Pontificia Universidad Católica Madre y Maestra (PUCMM) se
                compromete a ofrecer a sus estudiantes una experiencia
                universitaria integral, proporcionando una amplia gama de
                beneficios y servicios que favorecen su bienestar, formación
                académica y desarrollo personal. Estos recursos están diseñados
                para complementar su educación y garantizar su éxito en el
                ámbito universitario y profesional.
              </p>

              <div class="d-flex justify-content-center mb-4">
                <a
                  href="/files/servicios/beneficios/beneficios-y-servicios.pdf"
                  class="default-btn-one"
                  >Listado de Beneficios y Servicios<i
                    class="fa-solid fa-arrow-right"></i></a
                >
              </div>

              <h3>Descuentos exclusivos</h3>
              <ul class="mx-4">
                <li>
                  <p>
                    <i class="fa-solid fa-check text-primary"></i>primary">
                  </p>
                  Entradas con descuento a museos, espacios educativos, históricos,
                  el Jardín Botánico y el Zoológico con carnet universitario.
                </li>
              </ul>
              <li>
                <p>
                  <i class="fa-solid fa-check text-primary"></i>primary">
                </p>
                Precios preferenciales en gimnasio Body Shop y en el Salón Edus del
                Body Shop.
              </li>
            </div>
            <li>
              <p>
                <i class="fa-solid fa-check text-primary"></i>primary">
              </p>
              Precios especiales en Cibao Pádel Club y acceso a juegos de Cibao Fútbol
              Club.
            </li>
          </div>
          <li>
            <p>
              <i class="fa-solid fa-check text-primary"></i>primary">
            </p>
            Tarifas especiales para clases de natación y uso de piscina.
          </li>
        </div>

        <li>
          <p>
            <i class="fa-solid fa-check text-primary"></i>primary">
          </p>
          Descuentos en la farmacia Programa de medicamentos Esenciales y Central
          de Apoyo Logístico (PROMESECAL).
        </li>
      </div>

      <li>
        <p>
          <i class="fa-solid fa-check text-primary"></i>primary">
        </p>Precios preferenciales en EPC en Body Shop y CPC en Padre Arroyo.
      </li>
    </div>

    <li>
      <p>
        <i class="fa-solid fa-check text-primary"></i>primary">
      </p>Descuento en McDonald's con el carnet estudiantil PUCMM.
    </li>
  </div>

  <li>
    <p>
      <i class="fa-solid fa-check text-primary"></i>primary">
    </p>Acceso gratuito a cursos de Coursera con licencia especial para
    estudiantes.
  </li>
</Layout>

<li>
  <p>
    <i class="fa-solid fa-check text-primary"></i>primary">
  </p>10% de descuento en compras en tiendas Puma, Nine West, Florsheim, Cole
  Haan y Los Muchachos.
</li>

<h3>Servicios</h3>
<p>
  La PUCMM ofrece una variedad de servicios para apoyar a sus estudiantes en su
  vida académica y personal. Estos servicios incluyen:
</p>
<ul class="mx-4">
  <li>
    <p>
      <i class="fa-solid fa-check text-primary"></i>primary">
    </p>Consejería financiera a través de cuenta estudiantil.
  </li>
</ul>
<li>
  <p>
    <i class="fa-solid fa-check text-primary"></i>primary">
  </p>Consejería personal, académica y vocacional.
</li>

<li>
  <p>
    <i class="fa-solid fa-check text-primary"></i>primary">
  </p>Tutorías especializadas.
</li>

<li>
  <p>
    <i class="fa-solid fa-check text-primary"></i>primary">
  </p>Usted puede acceder a Microsoft 365 (Office, Word, PowerPoint, Excel) en
  hasta 5 dispositivos.
</li>

<li>
  <p>
    <i class="fa-solid fa-check text-primary"></i>primary">
  </p>Acceso a equipos audiovisuales y tecnológicos en salas de estudio.
</li>

<li>
  <p>
    <i class="fa-solid fa-check text-primary"></i>primary">
  </p>Biblioteca con bases de datos especializadas para diversas carreras.
</li>

<li>
  <p>
    <i class="fa-solid fa-check text-primary"></i>primary">
  </p>Pago preferencial en Canva Premium y Spotify con correo institucional.
</li>

<li>
  <p>
    <i class="fa-solid fa-check text-primary"></i>primary">
  </p>Seguridad y vigilancia 24 horas en todo el campus.
</li>

<li>
  <p>
    <i class="fa-solid fa-check text-primary"></i>primary">
  </p>Servicio de salud y primeros auxilios.
</li>

<li>
  <p>
    <i class="fa-solid fa-check text-primary"></i>primary">
  </p>Wifi en todos los edificios del campus.
</li>

<li>
  <p>
    <i class="fa-solid fa-check text-primary"></i>primary">
  </p>Sala de lactancia.
</li>

<li>
  <p>
    <i class="fa-solid fa-check text-primary"></i>primary">
  </p>Torres de parqueo y áreas de descanso.
</li>

<li>
  <p>
    <i class="fa-solid fa-check text-primary"></i>primary">
  </p>Movilidad estudiantil con convenios nacionales e internacionales.
</li>

<li>
  <p>
    <i class="fa-solid fa-check text-primary"></i>primary">
  </p>Becas de arte, cultura y deporte.
</li>

<li>
  <p>
    <i class="fa-solid fa-check text-primary"></i>primary">
  </p>Programas de becas a través de la Fundación Madre y Maestra.
</li>

<li>
  <p>
    <i class="fa-solid fa-check text-primary"></i>primary">
  </p>Facilidad de trabajos y pasantías a través de Talentos PUCMM.
</li>

<li>
  <p>
    <i class="fa-solid fa-check text-primary"></i>primary">
  </p>Pasantías nacionales e internacionales.
</li>

<li>
  <p>
    <i class="fa-solid fa-check text-primary"></i>primary">
  </p>Centro de impresión y servicios a estudiantes (Geek Center).
</li>

<li>
  <p>
    <i class="fa-solid fa-check text-primary"></i>primary">
  </p>Acceso a canchas y áreas deportivas.
</li>

<li>
  <p>
    <i class="fa-solid fa-check text-primary"></i>primary">
  </p>Salas de estudio y cafeterías.
</li>

<li>
  <p>
    <i class="fa-solid fa-check text-primary"></i>primary">
  </p>Máquinas expendedoras de alimentos en los edificios.
</li>

<li>
  <p>
    <i class="fa-solid fa-check text-primary"></i>primary">
  </p>Capillas para el desarrollo espiritual.
</li>

<DecanatoInfo />

<div class="col-lg-4">
  <!-- <div class="aside-sticky"> -->
  <AsideNav />
  <!-- </div> -->
</div>
