---
import Banner from '@components/banner/Banner.astro';
import Carousel from '@components/carousel/Carousel.astro';
import DecanatoInfo from '@components/infos/DecanatoInfo.astro';
import AsideNav from '@components/navigation/asideNav/AsideNav.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout
  title="Beneficios - Servicios Estudiantiles"
  description="Decanato de Estudiantes, todos los servicios y programas de apoyo a los estudiantes de la PUCMM."
>
  <Banner
    title="Beneficios - Servicios Estudiantiles"
    path="Servicios Estudiantiles / Beneficios"
    origin="Inicio"
    originLink="/"
  />

  <div class="news-details-area pt-5 pb-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="news-details">
            <div class="news-simple-card">
              <Carousel
                images={[
                  "/images/templates/template-1.jpg",
                  "/images/templates/template-2.jpg",
                  "/images/templates/template-3.jpg",
                  "/images/templates/template-4.jpg",
                ]}
              />

              <div class="text-center">
                <h2>Beneficios Estudiantiles</h2>
              </div>

              <h3>Beneficios</h3>
              <p>
                Los beneficios son ventajas especiales y descuentos exclusivos a
                los que los estudiantes tienen acceso por su afiliación a la
                universidad
              </p>

              <p>
                La Pontificia Universidad Católica Madre y Maestra (PUCMM) se
                compromete a ofrecer a sus estudiantes una experiencia
                universitaria integral, proporcionando una amplia gama de
                beneficios y servicios que favorecen su bienestar, formación
                académica y desarrollo personal. Estos recursos están diseñados
                para complementar su educación y garantizar su éxito en el
                ámbito universitario y profesional.
              </p>

              <div class="d-flex justify-content-center mb-4">
                <a
                  href="/files/servicios/beneficios/beneficios-y-servicios.pdf"
                  class="default-btn-one"
                  >Listado de Beneficios y Servicios<i
                    class="fa-solid fa-arrow-right"></i></a
                >
              </div>

              <h3>Descuentos exclusivos</h3>
              <ul class="mx-4">
                <li>
                  <p>
                    <i class="fa-solid fa-check text-primary"></i>
                    Entradas con descuento a museos, espacios educativos, históricos,
                    el Jardín Botánico y el Zoológico con carnet universitario.
                  </p>
                </li>
                <li>
                  <p>
                    <i class="fa-solid fa-check text-primary"></i>
                    Precios preferenciales en gimnasio Body Shop y en el Salón Edus
                    del Body Shop.
                  </p>
                </li>
                <li>
                  <p>
                    <i class="fa-solid fa-check text-primary"></i>
                    Precios especiales en Cibao Pádel Club y acceso a juegos de Cibao
                    Fútbol Club.
                  </p>
                </li>
                <li>
                  <p>
                    <i class="fa-solid fa-check text-primary"></i>
                    Tarifas especiales para clases de natación y uso de piscina.
                  </p>
                </li>
                <li>
                  <p>
                    <i class="fa-solid fa-check text-primary"></i>
                    Descuentos en la farmacia Programa de medicamentos Esenciales
                    y Central de Apoyo Logístico (PROMESECAL).
                  </p>
                </li>
                <li>
                  <p>
                    <i class="fa-solid fa-check text-primary"></i>
                    Precios preferenciales en EPC en Body Shop y CPC en Padre Arroyo.
                  </p>
                </li>
                <li>
                  <p>
                    <i class="fa-solid fa-check text-primary"></i>
                    Descuento en McDonald's con el carnet estudiantil PUCMM.
                  </p>
                </li>
                <li>
                  <p>
                    <i class="fa-solid fa-check text-primary"></i>
                    Acceso gratuito a cursos de Coursera con licencia especial para
                    estudiantes.
                  </p>
                </li>
                <li>
                  <p>
                    <i class="fa-solid fa-check text-primary"></i>
                    10% de descuento en compras en tiendas Puma, Nine West, Florsheim,
                    Cole Haan y Los Muchachos.
                  </p>
                </li>
              </ul>

              <h3>Servicios</h3>
              <p>
                La PUCMM ofrece una variedad de servicios para apoyar a sus
                estudiantes en su vida académica y personal. Estos servicios
                incluyen:
              </p>
              <ul class="mx-4">
                <li>
                  <p>
                    <i class="fa-solid fa-check text-primary"></i>
                    Consejería financiera a través de cuenta estudiantil.
                  </p>
                </li>

                <li>
                  <p>
                    <i class="fa-solid fa-check text-primary"></i>
                    Consejería personal, académica y vocacional.
                  </p>
                </li>

                <li>
                  <p>
                    <i class="fa-solid fa-check text-primary"></i>
                    Tutorías especializadas.
                  </p>
                </li>

                <li>
                  <p>
                    <i class="fa-solid fa-check text-primary"></i>
                    Usted puede acceder a Microsoft 365 (Office, Word, PowerPoint,
                    Excel) en hasta 5 dispositivos.
                  </p>
                </li>

                <li>
                  <p>
                    <i class="fa-solid fa-check text-primary"></i>
                    Acceso a equipos audiovisuales y tecnológicos en salas de estudio.
                  </p>
                </li>

                <li>
                  <p>
                    <i class="fa-solid fa-check text-primary"></i>
                    Biblioteca con bases de datos especializadas para diversas carreras.
                  </p>
                </li>

                <li>
                  <p>
                    <i class="fa-solid fa-check text-primary"></i>
                    Pago preferencial en Canva Premium y Spotify con correo institucional.
                  </p>
                </li>

                <li>
                  <p>
                    <i class="fa-solid fa-check text-primary"></i>
                    Seguridad y vigilancia 24 horas en todo el campus.
                  </p>
                </li>

                <li>
                  <p>
                    <i class="fa-solid fa-check text-primary"></i>
                    Servicio de salud y primeros auxilios.
                  </p>
                </li>

                <li>
                  <p>
                    <i class="fa-solid fa-check text-primary"></i>
                    Wifi en todos los edificios del campus.
                  </p>
                </li>

                <li>
                  <p>
                    <i class="fa-solid fa-check text-primary"></i>
                    Sala de lactancia.
                  </p>
                </li>

                <li>
                  <p>
                    <i class="fa-solid fa-check text-primary"></i>
                    Torres de parqueo y áreas de descanso.
                  </p>
                </li>

                <li>
                  <p>
                    <i class="fa-solid fa-check text-primary"></i>
                    Movilidad estudiantil con convenios nacionales e internacionales.
                  </p>
                </li>

                <li>
                  <p>
                    <i class="fa-solid fa-check text-primary"></i>
                    Becas de arte, cultura y deporte.
                  </p>
                </li>

                <li>
                  <p>
                    <i class="fa-solid fa-check text-primary"></i>
                    Programas de becas a través de la Fundación Madre y Maestra.
                  </p>
                </li>

                <li>
                  <p>
                    <i class="fa-solid fa-check text-primary"></i>
                    Facilidad de trabajos y pasantías a través de Talentos PUCMM.
                  </p>
                </li>

                <li>
                  <p>
                    <i class="fa-solid fa-check text-primary"></i>
                    Pasantías nacionales e internacionales.
                  </p>
                </li>

                <li>
                  <p>
                    <i class="fa-solid fa-check text-primary"></i>
                    Centro de impresión y servicios a estudiantes (Geek Center).
                  </p>
                </li>

                <li>
                  <p>
                    <i class="fa-solid fa-check text-primary"></i>
                    Acceso a canchas y áreas deportivas.
                  </p>
                </li>

                <li>
                  <p>
                    <i class="fa-solid fa-check text-primary"></i>
                    Salas de estudio y cafeterías.
                  </p>
                </li>

                <li>
                  <p>
                    <i class="fa-solid fa-check text-primary"></i>
                    Máquinas expendedoras de alimentos en los edificios.
                  </p>
                </li>

                <li>
                  <p>
                    <i class="fa-solid fa-check text-primary"></i>
                    Capillas para el desarrollo espiritual.
                  </p>
                </li>
              </ul>

              <DecanatoInfo />
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <!-- <div class="aside-sticky"> -->
          <AsideNav />
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</Layout>
