---
import Banner from '@components/banner/Banner.astro';
import Carousel from '@components/carousel/Carousel.astro';
import DecanatoInfo from '@components/infos/DecanatoInfo.astro';
import AsideNav from '@components/navigation/asideNav/AsideNav.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout
  title="Consejería Vocacional - Servicios Estudiantiles"
  description="Decanato de Estudiantes, todos los servicios y programas de apoyo a los estudiantes de la PUCMM."
>
  <Banner
    title="Consejería Vocacional - Servicios Estudiantiles"
    path="Servicios Estudiantiles / Consejería Vocacional"
    origin="Inicio"
    originLink="/"
  />

  <div class="news-details-area pt-5 pb-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="news-details">
            <div class="news-simple-card">
              <Carousel
                images={[
                  "/images/templates/template-1.jpg",
                  "/images/templates/template-2.jpg",
                  "/images/templates/template-3.jpg",
                  "/images/templates/template-4.jpg",
                ]}
              />
              <div class="text-center">
                <h2>Consejería Vocacional</h2>
              </div>
              <DecanatoInfo />
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <!-- <div class="aside-sticky"> -->
          <AsideNav />
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</Layout>
