<!-- Start Hero area -->
<div class="main-slider">
  <div class="swiper-container home-slider-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"></div>
      <div class="swiper-slide"></div>
      <div class="swiper-slide"></div>
    </div>
    <div class="slider-btn">
      <div class="swiper-btn-next"><i class="flaticon-left-chevron"></i></div>
      <div class="swiper-btn-prev"><i class="flaticon-chevron"></i></div>
    </div>
  </div>
</div>
<!-- End Hero area -->
